body {
  margin: 0;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
}

canvas {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  image-rendering: pixelated;
}

@media (orientation: landscape) {
  canvas {
    height: 100vh;
    width: auto;
  }
}

@media (orientation: portrait) {
  canvas {
    height: auto;
    width: 100vw;
  }
}
