body {
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

canvas {
  height: 100%;
  width: auto;
  image-rendering: pixelated;
}

@media (orientation: portrait) {
  canvas {
    height: auto;
    width: 100%;
  }
}
